@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  list-style: none;
  outline: none;
}

:root {
  --li-color: #edf0f1;
  --text-color: rgb(255, 196, 4);
  --main-color: black;
  --back-color: #24252A;
  --button-color:rgb(172, 172, 172);
}

body{
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  color: var(--li-color);
  background-color: var(--back-color);
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10%;
  color: white;
  background-color: #1e2029;
}
li, a, button{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

.logo{
  cursor: pointer;
  text-transform: uppercase;
  color: var(--text-color);
}

.nav_links li{
  display: inline;
  padding: 0px 20px;
}
.nav_links li a {
  transition: all 0.3s ease;
  text-transform: uppercase;
}
.nav_links li a:hover{
  color: var(--text-color);
}

  button{
    padding: 9px 25px;
    background-color: var(--text-color);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button:hover{
    background-color: var(--li-color);
    color: var(--text-color);
  }
  
  @media(max-width: 995px){
    .nav_links{
      position: absolute;
      top: 10%;
      right: 0;
      width: 30%;
      height: auto;
      border-left: 2px solid var(--main-color);
      border-bottom: 2px solid var(--main-color);
      border-bottom-left-radius: 1rem;
      padding: 1rem;
      background-color: var(--back-color);
      border-top: 0.2rem solid rgba(0, 0, 0, 0.1);
      display: none;
      flex-direction: column;
    }
    .nav_links li{
      padding: 10px 0;
    }
  
    .menu-btn{
      display: block;
      background-color: var(--main-color);
      color: white;
      font-size: 1rem;
      padding: 10px 20px;
      border-radius: 50px;
      border: none;
      cursor: pointer;
    }
    nav.active .nav_links {
      display: flex;
    }
  }  

  .container{
    margin: 0 auto;
    padding: 20px;
  }
/* Section home */

.home{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8rem;
  margin-top: -20px;
  padding: 5rem 9% 5rem;
  overflow: hidden; 
  display: flex;
  z-index: 1;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

}
.home::before {
  content: '';
  position: absolute                                              ;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/Pro 1/assets/backnew.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  filter: blur(3px); 
  z-index: -1; 
}

.home .home-content {
  text-align: left;
  margin-bottom: 10rem;
  margin-right: 30rem;
}

.home .home-content h1{
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 2rem;
  text-transform: uppercase;
  text-align: start;
  color: var(--text-color);
}
h3 span{
  font-size: 1.5rem;
  color: var(--li-color);
}

.home .home-content h3{
  font-size: 1rem;
  margin-bottom: 2rem;
  font-weight: 700;
  margin-top: 1rem;
}

.home-content p{
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: var(--li-color);
}

.home-img img{
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.btn-home{
  padding: 0.5rem 1.4rem;
  background-color: var(--text-color);
  border-radius: 2rem;
  font-size: 1rem;
  color: var(--li-color);
  letter-spacing: 0.3rem;
  font-weight: 600;
  border: none;
  transition: 0.3s ease;
  cursor: pointer;
  margin: 0 auto;
}

.btn:hover{
  transform: scale3d(1.03);
  background-color: var(--back-color);
  color: var(--text-color);
  box-shadow: 0 0 25px var(--main-color);
}

/* Responsividade */
@media (max-width: 995px) {
  .home {
    flex-direction: column;
    text-align: center;
    gap: 3rem;
  }

  .home-img img {
    width: 50vw;
  }

  .home .home-content h1 {
    font-size: 2.5rem;
  }

  .home .home-content h3 {
    font-size: 1.8rem;
  }

  .home-content p {
    font-size: 1.2rem;
  }
}

/* Area of ​​activity */


.wrapper{
  width: 90%;
  margin: auto;
  margin-top: -10%;
}
.container-activity{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  }

.container-activity .card{
  width: 300px;
  border-radius: 25px;
  background-color: var(--back-color);
  box-shadow: 0 0 20px #0f111a;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container-activity .card .img-activity{
  padding: 25px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

.img-activity img {
  width: 80%; 
  height: auto;
  border-radius: 20px;
  border: 2px solid var(--text-color);
}

.card .info{
  border-top: 2px solid var(--text-color);
  position: relative;
  padding: 20px;
}

.card .info .name-area{
  position: absolute;
  left: 50%;
  top: -32px;
  transform: translateX(-50%);
  padding: 20px;
  font-size: 20px;
  border-radius: 50px;
  background: var(--text-color);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  white-space: nowrap;
  box-shadow: 0px 10px 20px -10px var(--text-color);
}

.card .info .post-area{
  margin-top: 55px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: var(--li-color);
  font-family: 'Montserrat', sans-serif;
}

.card .info .about-area{
  padding: 25px;
  padding-top: 8px;
  text-align: center;
  font-size: 16px;
  color: var(--li-color);
  font-family: 'Montserrat', sans-serif;
}

.btn-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.owl-carousel .owl-stage{
  display: flex;
  justify-content: center;
}

.owl-carousel .owl-item{
  display: flex;
  justify-content: center;
}


.owl-nav .owl-prev{
  position: absolute;
  top: calc(50% - 150px);
  transform: translateY(-50%);
  left: -10px;
  font-size: 50px !important;
  color: var(--text-color) !important;
  opacity: 1;
  z-index: 1;
}

.owl-nav .owl-next{
  position: absolute;
  top: calc(50% - 150px);
  transform: translateY(-50%);
  right: -10px;
  font-size: 50px !important;
  color: var(--text-color) !important;
  opacity: 1;
  z-index: 1;
}

.owl-dots{
  margin-top: 30px;
}

.owl-dots .owl-dot span{
  background: var(--text-color) !important;
}

.owl-dots .owl-dot.active span{
  transform: scale(1.6);
  background: #fff !important;
  border: 2px solid var(--text-color);
}


/* Container about */

.container-about{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 7rem;
  gap: 2rem;
  min-height: 100vh;
  background-color: #283042;
  box-shadow: .5rem 2px .5rem rgba(0, 0, 0, .1);
}
.img-about img{
  width: 600px;
}
.heading{
  text-align: center;
}
.content-about{
  border-radius: .4rem;
  padding: 2rem;
  text-align: justify;
  line-height: 1.5;
}

.content-about h1{
  text-align: left;
  line-height: 1.2;
  font-size: 3rem;
}
.content-about h3{
  font-size: 2.6rem;
  padding-top: 20px;
  color: var(--text-color);
}
.content-about p{
  font-size: 1.2rem;
  margin: 2rem 0 3rem;
  text-align: justify;
}


/* article */
.title-article h1{
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-color);
}
.title-article h2{
  font-weight: 300;
  line-height: 1.3;
  text-transform: uppercase;
  margin-top: 1rem;
  margin-bottom: -5rem;
  text-align: center;
  color: var(--text-color);
}
.container-carousel-article{
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
}
.card-container-article{
  display: grid;
  row-gap: 3.5rem;
}
.card-article{
  position: relative;
  overflow: hidden;
}
.card-img-article{
  border-radius: 1.5rem;
}
.card-data-article{
  width: 280px;
  background-color: #0f111a;
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0; 
  transition: opacity 1s 1s;
}
.card-description-article{
  display: block;
  font-size: small;
  margin-bottom: .25rem;
}
.card-title-article{
  font-size: large;
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: .75rem;
}
.card-button-article{
  text-decoration: none;
  font-size: small;
  font-weight: 500;
  color: var(--text-color);
}
.card-button-article:hover{
  text-decoration: underline;
}
.card-article:hover .card-data-article{
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}
.card-article:hover{
  animation: remove-overflow 2s forwards;
}
.card-article:not(:hover){
  animation: show-overflow 2s forwards;
}
.card-article:not(:hover) .card-data-article{
  animation: remove-data 1s forwards;
}


/* Card animation */

@keyframes show-data{
  50%{
    transform: translateY(-10rem);
  }
  100%{
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow{
  to{
    overflow: initial;
  }
}

@keyframes remove-data{
  0%{
    transform: translateY(-7rem);
  }
  50%{
    transform: translateY(-10rem);
  }
  100%{
    transform: translateY(5rem);
  }
}

@keyframes show-overflow{
  0%{
    overflow: initial;
    pointer-events: none;
  }
  50%{
    overflow: hidden;
  }
}

@media screen and (max-width: 340px){
  .container-carousel-article{
    margin-inline: 1rem;
  }
  .card-data-article{
    width: 250px;
    padding: 1rem;
  }
}
@media screen and (min-width: 768px){
  .card-container-article{
    grid-template-columns: (2, 1fr);
    column-gap: 1.5rem;
  }
}
@media screen and (min-width: 1120px){
  .container-carousel-article{
    height: 100vh;
  }
  .card-container-article{
    grid-template-columns: repeat(3, 1fr);
  }
  .card-img-article{
    width: 348px;
  }
  .card-data-article{
    width: 316px;
    padding-inline: 2.5rem;
  }
}

/* Faq */
.box-faq{
  display: flex;
  justify-content: center;
  align-items: center;
}
#container-faq h1{
  text-align: center;
  padding-bottom: 20px;
}
#container-faq{
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 500px;
}
.accordion{
  background-color: #0f111a;
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.accordion-header{
  width: 100%;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  cursor: pointer;
}
.accordion-header span{
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.accordion-body{
  color: var(--text-color);
  font-size: 14px;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity .3s;
}
.accordion-body.active{
  height: 100%;
  opacity: 1;
  padding: 5px 0px;
}
.arrow{
  transition: transform .2s linear;
}
.accordion:has(.active) .arrow{
  transform: rotate(180deg);
}

/* Contact */
.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
}

.container-form{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 2rem;
}

form{
  width: 100%;
  max-width: 30rem;
  background-color: #1e2029;
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

label,
input,
textarea{
  display: block;
  width: 100%;
}

input,
textarea,
.button-contact{
  font: inherit;
  padding: 1.25rem;
  font-weight: 700;
}

input,
textarea{
  margin-bottom: 1rem;
  color: white;
  background: #0f111a;
  border: 0.125rem solid transparent;
  border-radius: 1.125rem;
  transition: border-color 0.3s;
  box-shadow: 0.3s;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus{
  outline: none;
  border-color: var(--text-color);
  box-shadow: 0 0 0 0.3125rem #3c3d46;
}

label{
  margin-bottom: 0.5rem;
  color: var(--text-color);
}

textarea{
  min-height: 12.5rem;
  resize: vertical;
}

.button-contact{
  border: none;
  border-radius: 99px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.button-contact:hover{
  outline: none;
  background: #0f111a;
}

.button-contact:disabled{
  cursor: not-allowed;
  background:#3c3d46 ;
}

.success,
.error{
  text-align: center;
}

.success{
  color: greenyellow;
}

.error{
  color: tomato;
}
