@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  list-style: none;
  outline: none;
}

:root {
  --li-color: #edf0f1;
  --text-color: rgb(255, 196, 4);
  --main-color: black;
  --back-color: #24252A;
  --button-color:rgb(172, 172, 172);
}

body{
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  color: var(--li-color);
  background-color: var(--back-color);
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 10%;
  color: white;
  background-color: var(--back-color);
}

li, a, button{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

.logo{
  cursor: pointer;
  text-transform: uppercase;
  color: var(--text-color);
}

.nav_links li{
  display: inline;
  padding: 0px 20px;
}
.nav_links li a {
  transition: all 0.3s ease;
  text-transform: uppercase;
}
.nav_links li a:hover{
  color: var(--text-color);
}

button{
  padding: 9px 25px;
  background-color: var(--text-color);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover{
  background-color: var(--li-color);
  color: var(--text-color);
}

@media(max-width: 995px){
  .nav_links{
    position: absolute;
    top: 10%;
    right: 0;
    width: 30%;
    height: auto;
    border-left: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    border-bottom-left-radius: 1rem;
    padding: 1rem;
    background-color: var(--back-color);
    border-top: 0.2rem solid rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
  }
  .nav_links li{
    padding: 10px 0;
  }

  .menu-btn{
    display: block;
    background-color: var(--main-color);
    color: white;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
  }
  nav.active .nav_links {
    display: flex;
  }
}

.container{
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
}
/* Section home */
section{
  position: relative;
  min-height: 100vh;
  padding: 5rem 9% 5rem;
  overflow: hidden; 
  display: flex;
  z-index: 1;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/Pro 1/assets/background2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  filter: blur(8px); 
  z-index: -1; 
}

.home{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8rem;
  min-height: 100vh; 
  padding: 5rem 9%;
}

.home .home-content {
  text-align: center;
}

.home .home-content h1{
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 3rem;
  text-transform: uppercase;
  color: var(--text-color);
}
h3 span{
  color: var(--back-color);
}

.home .home-content h3{
  font-size: 2rem;
  margin-bottom: 3rem;
  font-weight: 700;
  margin-top: 1rem;
}

.home-content p{
  font-size: 1.5rem;
  margin-bottom: 4rem;
  color: var(--li-color);
}

.home-img img{
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.btn-home{
  padding: 0.5rem 1.4rem;
  background-color: var(--text-color);
  border-radius: 2rem;
  font-size: 1rem;
  color: var(--li-color);
  letter-spacing: 0.3rem;
  font-weight: 600;
  border: none;
  transition: 0.3s ease;
  cursor: pointer;
  margin: 0 auto;
}

.btn:hover{
  transform: scale3d(1.03);
  background-color: var(--back-color);
  color: var(--text-color);
  box-shadow: 0 0 25px var(--main-color);
}

/* Responsividade */
@media (max-width: 995px) {
  .home {
    flex-direction: column;
    text-align: center;
    gap: 3rem;
  }

  .home-img img {
    width: 50vw;
  }

  .home .home-content h1 {
    font-size: 2.5rem;
  }

  .home .home-content h3 {
    font-size: 1.8rem;
  }

  .home-content p {
    font-size: 1.2rem;
  }
}

/* Area of ​​activity */

.activity-section{
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  max-width: 50vw;
  margin-left: auto;
  margin-right: auto;
}

.activity-section h1{
  font-size: 60px;
}

.activity-section p{
  font-size: 18px;
  margin-top: 10px;
  font-weight: 300;
}


.wrapper{
  width: 90%;
  max-width: 1400px;
  margin: auto;
}

.container-activity{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  min-height: 100vh;
}

.container-activity .card{
  width: 300px;
  border-radius: 25px;
  background: #383c4e;
  box-shadow: 0 0 20px #0f111a;
  flex-direction: column;
}

.container-activity .card .img-activity{
  padding: 25px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

.img-activity img {
  width: 80%; 
  height: auto;
  border-radius: 20px;
  border: 2px solid var(--text-color);
}

.card .info{
  border-top: 2px solid var(--text-color);
  position: relative;
  padding: 20px;
}

.card .info .name-area{
  position: absolute;
  left: 50%;
  top: -32px;
  transform: translateX(-50%);
  padding: 20px;
  font-size: 20px;
  border-radius: 50px;
  background: var(--text-color);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  white-space: nowrap;
  box-shadow: 0px 10px 20px -10px var(--text-color);
}

.card .info .post-area{
  margin-top: 55px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: var(--li-color);
  font-family: 'Montserrat', sans-serif;
}

.card .info .about-area{
  padding: 25px;
  padding-top: 8px;
  text-align: center;
  font-size: 16px;
  color: var(--li-color);
  font-family: 'Montserrat', sans-serif;
}

.btn-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.owl-carousel .owl-stage{
  display: flex;
  justify-content: center;
}

.owl-carousel .owl-item{
  display: flex;
  justify-content: center;
}


.owl-nav .owl-prev{
  position: absolute;
  top: calc(50% - 150px);
  transform: translateY(-50%);
  left: -10px;
  font-size: 50px !important;
  color: var(--text-color) !important;
  opacity: 1;
  z-index: 1;
}

.owl-nav .owl-next{
  position: absolute;
  top: calc(50% - 150px);
  transform: translateY(-50%);
  right: -10px;
  font-size: 50px !important;
  color: var(--text-color) !important;
  opacity: 1;
  z-index: 1;
}

.owl-dots{
  margin-top: 30px;
}

.owl-dots .owl-dot span{
  background: var(--text-color) !important;
}

.owl-dots .owl-dot.active span{
  transform: scale(1.6);
  background: #fff !important;
  border: 2px solid var(--text-color);
}


/* Container about */

.container-about{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -17rem;
  margin-bottom: 7rem;
  gap: 2rem;
  min-height: 100vh;
}
.img-about img{
  width: 600px;
}
.heading{
  text-align: center;
}
.content-about h1{
  text-align: left;
  line-height: 1.2;
  font-size: 3rem;
}
.content-about h3{
  font-size: 2.6rem;
  padding-top: 20px;
}
.content-about p{
  font-size: 1.2rem;
  margin: 2rem 0 3rem;
  text-align: justify;
}


/* article */
.cards-article{
  display: grid;
  overflow: hidden;
  padding-top: 2rem;
  padding-bottom: 2rem;
  min-height: 100vh;
}
.outer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50rem;
  overflow: hidden;

}
.content-text{
  margin-right: 50rem;
  padding-left: 5px;
  margin-top: 20rem;
  margin-bottom: -43rem;
}
.content-text h1{
 padding-bottom: 2rem;
 font-size: 3rem;
}
.content-text p{
  text-align: justify;
  line-height: 2;
}
.cards-article .card-article{
  background: #fff;
  padding: 1.5rem;
  max-width: 30rem;
  border-radius: .5rem;
  position: absolute;
  pointer-events: none;
  opacity: 0;
  animation: animate 15s infinite linear;
  animation-delay: calc(3s * var(--delay));
}
.header-article, .profile-article{
  align-items: center;
}
.header-article{
  justify-content: space-between;
}
.profile-article{
  margin-bottom: 1rem;
}
.profile-article img{
  border-radius: 5%;
  padding: 5px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.178);
}
.profile-article .details-article{
  margin-left: 10px;
  margin-top: 10px;
}
.details-article h4 p{
  color: #0f111a;
}
.testimonial-article{
  margin-top: 10px;
  text-align: justify;
  margin-left: 10px;
}

.cards-article .card-article:last-child{
  animation-delay: calc(-3s * var(--delay));
}

@keyframes animate{
  0%{
    opacity: 0;
    transform: translateY(50%) scale(0.5);

  }
  5%,20%{
    opacity: 0;
    transform: translateY(50%) scale(0.7);

  }
  25%,40%{
    opacity: 1;
    transform: translateY(0%) scale(1);
    
  }
  45%,60%{
    opacity: 0;
    transform: translateY(-50%) scale(0.7);

  }
  65%,100%{
    opacity: 0;
    transform: translateY(-50%) scale(0.5);

  }
}
